body {

  background-color: red;
  background-image:
    linear-gradient(
      to right,
      red, #f06d06
    );
}

h1 {
  font-family: "Futura";
  margin-left: 200px;
  font-size: 70px;
  text-align: center;
  text-shadow: 10px 10px 0px rgba(0,0,0,0.2);
  /*text-shadow: -10px 10px 0px #00e6e6,
                 -20px 20px 0px #01cccc,
                 -30px 30px 0px #00bdbd;*/

  color: white;
}

a {
  color: white;
}

a:link {
  text-decoration: none;
}

.sidenav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  height: 100vh;
  width: 0;
  border-right: 1px solid #D7DBDD;
  font-family: "Futura";
  background: red;
  padding left: 30px;
 
}


.section {
  font-size: 20px;
  color: white;
  padding: 0px;
  margin-top: 0px;
  text-align: center;
  font-family: Futura;
  font-weight: 300;
  box-sizing: 20px;

}




.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    float: right;
}


.card  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    float: left;
  
}


.card-content {
  font-family: "Futura";
  color: white;  
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#main {
    transition: margin-left .5s;
    padding: 5px;
}